body    {
    background-color: #e2ddee;
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}
button {
    background-color: #316820;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #22223b;
}   